@charset "UTF-8";

.visual {
    position: relative;
    width: 100%;
    height: 108rem;
    background: url(../img-2/v-10.jpg) no-repeat 50% 52% / 100%;
    overflow: hidden;
}

.visual-img {
    width: 100%;
    height: 108rem;
}

.obj1 {
    position: absolute;
    width: 60rem;
    height: 60rem;
    left: -5rem;
    bottom: 4rem;
    background: url(../img-2/v-1.png) no-repeat 0% 70% / 180%;
}

.obj2 {
    position: absolute;
    width: 60rem;
    height: 60rem;
    right: -5rem;
    bottom: 4rem;
    background: url(../img-2/v-2.png) no-repeat 100% 70% / 180%;
}

.obj3 {
    position: absolute;
    width: 80rem;
    height: 65rem;
    left: -5rem;
    bottom: 0rem;
    background: url(../img-2/v-3.png) no-repeat 0% 68% / 210%;
}

.obj4 {
    position: absolute;
    width: 80rem;
    height: 65rem;
    right: -5rem;
    bottom: 0rem;
    background: url(../img-2/v-4.png) no-repeat 100% 70% / 202%;
}
/* visual */

/* about */
.about {
    font-family: "Gugi";

    text-align: center;

    padding: 30rem 0 40rem;
    padding: 15.625% 0 20.8333%;
}

.about dt {
    font-size: 4.5rem;
    color: #787878;

    font-size: clamp(2rem, 2.34375vw, 4.5rem);
}

.about dd {
    font-size: 6.4rem;
    color: var(--main-color);

    font-size: clamp(3rem, 3.3333vw, 6.4rem);
}
/* about */

/* profile */
.profile {
    position: relative;
    padding-bottom: 41.9rem;
    padding-bottom: 21.8229%;
}

.swiper {
    width: 100%;
    height: 64rem;
}

.swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 44.3rem;
    aspect-ratio: 3/4.5;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d; /* trfs: 3D효과의 전달 1세대까지만 가는 3D효과를 여기까지 전달 */
    padding-top: 4.5rem;

    transform: rotateZ(5deg);

    width: 23.0729%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 2.4rem;
    backface-visibility: hidden; /* 뒤집어 졌을때 안보이도록 만드는것 */
    transform-style: preserve-3d; /* trfs: 3D효과의 전달 1세대까지만 가는 3D효과를 여기까지 전달 */
}

.card-front {
    padding: 6rem 8.3rem;
    background: var(--color2);

    text-align: center;
    color: var(--color4);
    font-weight: 700;
    font-size: 4.4rem;

    padding: 13.544% 18.7359%;
    font-size: clamp(2rem, 2.2916vw, 4.4rem);
}

.card-back {
    padding: 10rem 9.9rem;
    background: var(--color2);
    transform: rotateY(180deg);

    text-align: center;
    justify-content: space-between;
    color: var(--color4);

    padding: 22.5734% 22.3476%;
}

.card-back dt {
    font-size: 6rem;
    font-weight: 700;
    font-size: clamp(4rem, 3.125vw, 6rem);
}

.card-back dd {
    font-size: 4rem;
    font-weight: 500;
    font-size: clamp(2rem, 2.0833vw, 4rem);
}

.card-back p {
    padding-top: 25rem;

    padding-top: 56.4334%;
    font-size: clamp(1.5rem, 1.0416vw, 2rem);
}

.my-swiper-button-prev,
.my-swiper-button-next {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 30%;
}

.my-swiper-button-prev {
    left: 15rem;
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: var(--color3) url(../icon-img/next-icon.svg) no-repeat 44%;
}

.my-swiper-button-next {
    right: 15rem;
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: var(--color3) url(../icon-img/next-icon.svg) no-repeat 44%;
    transform: rotate(180deg);
}

.swiper-pagination {
    bottom: 27% !important;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.swiper-pagination-bullet {
    width: 1.8rem;
    height: 1.8rem;
}

.swiper-pagination-bullet-active {
    background: var(--color3);
}
/* profile */

/* quiz */
.quiz-con {
    padding-bottom: 37rem;

    padding-bottom: 19.2708%;
}

.q {
    padding-top: 5rem;

    padding-top: 3.0864%;
}

.quiz-container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    background: var(--color2);
    /* width: 80%; */
    height: 50%;
    border-radius: 2rem;
    padding: 7rem;

    padding: 4.321%;
}

#quiz strong {
    font-weight: 700;
    font-size: 3rem;
    color: var(--color4);
}

#quiz label {
    cursor: pointer;
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--color4);
    /* flex: 1 1 calc(30%); */
    padding-bottom: 3rem;
}

#quiz input {
    width: 2rem;
    height: 2rem;
}

.options {
    padding: 4rem 0 5rem;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10%;
}

.quiz-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 2rem;
    font-weight: 700;
    color: var(--color2);
    background: var(--color4);

    padding: 2rem;
    border-radius: 1.5rem;
}

.score {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color4);
}

.message {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--color4);
    padding: 0.5rem 0 3.5rem;
}

#reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 2rem;
    font-weight: 700;
    color: var(--color2);
    background: var(--color4);

    padding: 2rem 3rem 2rem 3rem;
    border-radius: 1.5rem;
}

.incorrect-questions {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color4);
    padding-bottom: 2rem;
}

.incorrect-questions p {
    padding-bottom: 2rem;
}
/* quiz */

/*  gallery-con*/
.gallery {
    padding-bottom: 40rem;
    padding-bottom: 20.8333%;
}

.gallery-btn {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 7rem 0 7.2rem;

    padding: 3.6458% 0 3.75%;
}

#year-select,
#type-select {
    width: 27.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    border-radius: 10rem;
    padding: 3rem 0;

    border: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 16.9753%;
    padding: 1.8519% 0;
    font-size: clamp(1.5rem, 1.5625vw, 3rem);
}

#year-select {
    background: var(--color2);
}

#type-select {
    background: var(--color4);
}

#year-select option,
#type-select option {
    font-size: 2.5rem;
    color: #fff;
}

.photo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.photo figure {
    height: 35.7rem;
    border-radius: 2.5rem;
    overflow: hidden;
    flex: 1 1 calc(33.33% - 2rem);
}

.photo figure:last-child {
    height: 35.7rem;

    max-width: 32.0988%;
}

.photo figure img {
    width: 100%;
    height: 100%;
}

/* 비디오 */
.video {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.video figure {
    display: flex;
    height: 35.7rem;
    border-radius: 2.5rem;
    overflow: hidden;
    flex: 1 1 calc(33.33% - 2rem);

    max-width: 32.0988%;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal-video {
    width: 100%;
    height: 100%;
}

.modal {
    display: flex !important;
    position: fixed; /* 화면에 고정 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 반투명 배경 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* 부드러운 전환 효과 */
    opacity: 0; /* 초기 투명도 */
    visibility: hidden; /* 초기 상태에서 숨김 */
}

.modal.show {
    opacity: 1; /* 완전 불투명 */
    visibility: visible; /* 보이도록 설정 */
}

.modal-content {
    position: relative;
    display: flex;
    width: 55%;
    height: 70%;
    background-color: var(--color2); /* 모달 내용 배경색 */
    padding: 3rem; /* 패딩 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.close {
    position: absolute;
    display: block;
    top: 0.5%;
    right: -6%;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: url(../icon-img/close-write-tab.svg) no-repeat 50% / 70%;
}

.year-content {
    display: none; /* 기본적으로 숨김 */
}

/* footer */

#footer {
    position: relative;
    width: 100%;
    height: 108rem;
    background: url(../img-2/f-3.jpg) no-repeat 50% 52% / 100%;
    overflow: hidden;
}

.footer-img {
    width: 100%;
    height: 108rem;
}

.f-1 {
    position: absolute;
    width: 70rem;
    height: 100%;
    left: -5rem;
    bottom: 0rem;
    background: url(../img-2/f-1.png) no-repeat 0% 50% / 180%;
}

.f-2 {
    position: absolute;
    width: 70rem;
    height: 100%;
    right: -5.2rem;
    bottom: 0rem;
    background: url(../img-2/f-2.png) no-repeat 100% / 180%;
}

.f-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 5%;
    background: url(../img-2/fier.gif) no-repeat 50% /100%;
}

/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
@media (max-width: 1600px) {
    .close {
        right: -10%;
    }
}

@media (max-width: 1400px) {
    .swiper-pagination {
        bottom: 35% !important;
    }
}

@media (max-width: 1200px) {
    .card {
        width: 30%;
    }

    .swiper-pagination {
        bottom: 30% !important;
    }
    .swiper-pagination-bullet {
        width: 1.5rem;
        height: 1.5rem;
    }

    .f-3 {
        bottom: 2%;
        background: url(../img-2/fier.gif) no-repeat center / cover;
    }
}

@media (max-width: 1000px) {
    .my-swiper-button-next {
        right: 5%;
    }

    .my-swiper-button-prev {
        left: 5%;
    }

    .close {
        right: -15%;
    }
}

@media (max-width: 820px) {
    .obj1 {
        position: absolute;
        width: 45rem;
        height: 45rem;
        left: -5rem;
        bottom: 8rem;
        background: url(../img-2/v-1.png) no-repeat 0% 70% / 180%;
    }

    .obj2 {
        position: absolute;
        width: 45rem;
        height: 45rem;
        right: -5rem;
        bottom: 8rem;
        background: url(../img-2/v-2.png) no-repeat 100% 70% / 180%;
    }

    .obj3 {
        position: absolute;
        width: 50rem;
        height: 60rem;
        left: -5rem;
        bottom: 0rem;
        background: url(../img-2/v-3.png) no-repeat 0% 68% / 210%;
    }

    .obj4 {
        position: absolute;
        width: 50rem;
        height: 60rem;
        right: -5rem;
        bottom: 0rem;
        background: url(../img-2/v-4.png) no-repeat 100% 70% / 202%;
    }

    .obj5 {
        position: absolute;
        width: 100%;
        height: 75%;

        bottom: -4.5rem;
        background: url(../img-2/v-5.png) no-repeat center / cover;
    }

    .obj6 {
        position: absolute;
        width: 100%;
        height: 75%;
        left: -5rem;
        background: url(../img-2/v-6.png) no-repeat center / cover;
    }

    .obj7 {
        position: absolute;
        width: 100%;
        height: 75%;
        background: url(../img-2/v-7.png) no-repeat center / cover;
    }

    .obj8 {
        position: absolute;
        width: 100%;
        height: 75%;
        right: -5rem;
        background: url(../img-2/v-8.png) no-repeat center / cover;
    }
    /* visual */

    .card {
        width: 40%;
    }

    .close {
        right: -20%;
    }

    .f-1 {
        width: 90%;
        height: 100%;
        bottom: -20rem;
        left: -4rem;
    }

    .f-2 {
        width: 90%;
        height: 100%;
        bottom: -20rem;
        right: -4rem;
    }

    .f-3 {
        bottom: 0;
    }
}

@media (max-width: 720px) {
    .visual {
        background: url(../img-2/v-10.jpg) no-repeat center center / cover;
    }

    .my-swiper-button-prev,
    .my-swiper-button-next {
        top: 35%;
    }

    .my-swiper-button-prev {
        width: 7rem;
        height: 7rem;
        background: var(--color3) url(../icon-img/next-icon.svg) no-repeat 42% / 30%;
    }

    .my-swiper-button-next {
        width: 7rem;
        height: 7rem;
        background: var(--color3) url(../icon-img/next-icon.svg) no-repeat 42% / 30%;
    }

    .swiper-pagination {
        gap: 1rem;
    }

    #year-select,
    #type-select {
        width: 30%;
        padding: 1.5rem;
    }

    .photo figure,
    .photo figure:last-child {
        height: 20rem;
    }

    .photo,
    .video {
        gap: 1.5rem;
    }

    .video figure {
        height: 20rem;
    }

    #footer {
        background: url(../img-2/f-3.jpg) no-repeat center center / cover;
    }
}

@media (max-width: 600px) {
    .swiper {
        height: 50rem;
    }
}

@media (max-width: 510px) {
    .about {
        padding: 17rem 0 17rem;
    }
    .swiper {
        height: 47rem;
    }

    .card-back dt {
        font-size: 2.5rem;
    }

    .card-back dd {
        font-size: 1.5rem;
    }

    .card-back p {
        font-size: 1.2rem;
    }

    .swiper-pagination {
        gap: 0.5rem;
        bottom: 33% !important;
    }

    .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
    }

    .my-swiper-button-prev,
    .my-swiper-button-next {
        top: 29%;
    }

    .my-swiper-button-prev {
        width: 5rem;
        height: 5rem;
        background: var(--color3) url(../icon-img/next-icon.svg) no-repeat 42% / 30%;
    }

    .my-swiper-button-next {
        width: 5rem;
        height: 5rem;
        background: var(--color3) url(../icon-img/next-icon.svg) no-repeat 42% / 30%;
    }

    .q {
        padding-top: 5rem;
    }

    .quiz-container {
        padding: 3rem;
    }

    #quiz strong {
        font-size: 2rem;
    }

    #quiz label {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 1.5rem;
    }

    .score {
        font-size: 2.5rem;
    }

    .message {
        font-size: 1.5rem;
    }

    #reset-btn {
        padding: 1.5rem 2rem 1.5rem 2rem;
    }

    .gallery-btn {
        padding: 3rem 0 2.5rem;
    }

    #year-select,
    #type-select {
        width: 35%;
    }

    .photo figure,
    .photo figure:last-child,
    .video figure {
        height: 15rem;
        border-radius: 1.5rem;
    }

    .video figure {
        max-width: 100%;
    }

    .modal-content {
        width: 70%;
        height: 60%;
    }

    .close {
        width: 3rem;
        height: 3rem;
        right: -13%;
    }
}

/* 420 */
